* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url("./font/Lato-Bold.ttf");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/lato-v20-latin-300.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato-v20-latin-300.woff2") format("woff2"),
        url("../fonts/lato-v20-latin-300.woff") format("woff"),
        url("../fonts/lato-v20-latin-300.ttf") format("truetype"),
        url("../fonts/lato-v20-latin-300.svg#Lato") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'Lato';
    src: url(./font/Lato-Light.ttf);
}

.header {
    padding: 40px 80px 40px 80px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("./background/Rectangle3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 782px;

    a {
        text-decoration: none;
        color: aliceblue;
    }

    ul {
        list-style: none;
        display: flex;

        li {
            margin: 10px;
        }
    }

    .nav {
        vertical-align: middle;
        display: flex;
        justify-content: space-between;

        .lang {
            display: flex;
            align-items: center;

            .dropdown {
                position: relative;
                display: inline-block;
                color: aliceblue;
                margin-left: 10px;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: rgba(238, 61, 27, 0.8);
                min-width: 40px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 12px 16px;
                z-index: 1;
            }

            &:hover .dropdown-content {
                display: block;
            }


        }

        .logd {
            margin-top: 13px;

            .log {
                color: aliceblue;
                text-decoration: none;
                border: 1px solid aliceblue;
                border-radius: 5px;
                padding: 10px;
                margin-top: 50px;
            }
        }
    }

    .hcontent {
        text-align: center;
        margin-top: 250px;

        h1 {
            font-size: 100px;
            color: aliceblue;
        }

        pre {
            color: aliceblue;
            font-size: 25px;
        }

        button {
            background-color: aliceblue;
            border-radius: 5px;
            padding: 10px 20px 10px 20px;
            color: rgba(213, 32, 71, 0.8);
            border: 0px;
        }
    }
}

.body {

    .s1 {
        padding: 40px 80px 40px 80px;
        justify-content: space-between;
        display: flex;
        height: 382px;
        padding-top: 100px;

        .text1 {
            width: 490px;

            h1 {
                font-size: 40px;
                margin: 20px 0;
            }

            p {
                font-size: 17px;
            }

            a {
                color: rgba(213, 32, 71, 0.8);
                font-size: 17px;
            }
        }

        .photo1 {
            margin-right: 600px;

            .meeting {
                position: absolute;
            }

            .play {
                position: relative;
                top: 120px;
                right: 32px;

            }
        }
    }

    .s2 {
        padding: 40px 80px 40px 80px;
        background-color: rgb(235, 235, 235);

        h1 {
            font-size: 40px;
            text-align: center;
            margin: 50px 0;
        }

        .athird {
            display: flex;
            height: 400px;

            .abs1 {
                position: absolute;
            }

            .ath {
                margin: 0 70px;
            }


            .text2 {
                position: relative;
                top: 157px;
                left: 30px;
                width: 220px;
                text-align: center;
                background-color: white;
                border-radius: 10px;
                padding: 30px;

                p {
                    font-size: 13px;
                }

                a {
                    color: rgba(213, 32, 71, 0.8);
                }

                h1 {
                    font-size: large;
                    margin: auto;
                }
            }
        }
    }

    .s3 {
        padding: 40px 80px 40px 80px;

        h1 {
            font-size: 40px;
            text-align: center;
            margin: 50px 0;
        }

        .afourth {
            display: flex;
        }

        .numb {
            width: 200px;
            margin: 40px 70px;

            p {
                font-size: 13px;
                text-align: center;
            }

            h1 {
                font-size: large;
                margin: auto;
            }

            .abs2 {
                position: absolute;
                margin-left: 40px;
            }

            .rel2 {
                position: relative;
                top: 30px;
                left: 15px;
                margin-left: 40px;
            }

            .abs3 {
                position: absolute;
                margin-left: 40px;
            }

            .rel3 {
                position: relative;
                top: 45px;
                left: 19px;
                margin-left: 40px;
            }

            .abs4 {
                position: absolute;
                margin-left: 40px;
            }

            .rel4 {
                position: relative;
                top: 50px;
                left: 30px;
                margin-left: 40px;
            }
        }
    }

    .s4 {
        background-color: rgba(213, 32, 71, 0.8);
        padding: 100px 80px 80px 80px;

        .atwo {
            display: flex;
            justify-content: space-between;

            h1 {
                color: aliceblue;
                font-size: 40px;
            }

            p {
                color: aliceblue;
            }

            .text3 {
                width: 400px;

                img {
                    margin-right: 15px;
                }
            }
        }
    }

    .s5 {
            .op{
                select{
                    width: 408px;
                }
            }




        padding: 100px 80px 80px 80px;
        display: flex;
        justify-content: space-between;

        .text4 {
            width: 400px;

            h1 {
                font-size: 40px;
            }
        }

        .personal {
            .names {
                input {
                    border: 1px solid black;
                    border-radius: 5px;
                    padding: 15px;
                    margin-right: 15px;
                }
            }

            input {
                border: 1px solid black;
                border-radius: 5px;
                padding: 15px;
            }

            select {
                border: 1px solid black;
                border-radius: 5px;
                padding: 15px;
            }

            .submit {
                padding: 15px;
                border: 0px;
                color: aliceblue;
                background-color: rgba(213, 32, 71, 0.8);
            }


            .phon{
                width: 375px;
            }
        }
    }

    .s6 {
        display: flex;
        padding: 100px 80px 80px 80px;
        justify-content: space-between;
        background-color: rgb(248, 244, 244);

        .mainl {
            font-size: 20px;
        }

        li {
            img {
                margin: 10px 5px;
            }
        }

        a {
            color: black;
        }
    }

    .s7 {
        background-color: rgb(248, 244, 244);
        padding: 50px 80px 50px 80px;
    }
}

@media only screen and (max-width: 380px) {
    .header {
        display: block;
        font-size: 15px;
        padding: 20px;

        .nav {
            padding: 0;

            .img1 {
                padding-top: 8px;
            }

            img {
                padding-top: 5px;
                width: 10px;
                height: 10px;
            }

            .dropdown {
                padding-top: 6px;
            }

            ul {
                display: none;
            }

            .logd {
                .log {
                    padding: 3px;
                    margin: 1px;
                }
            }
        }
        .hcontent{
            h1{
                font-size: 40px;
            }
            pre{
                font-size: 15px;
            }
        }
    }
    .body{
        .s1{
            display: block;
            height: 600px;
            padding: 15px;
            .text1{
                width: 350px;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 13px;
                }
            }
            .photo1{
                .meet{
                    width: 330px;
                    height: 330px;
                    position: absolute;
                }
                .playy{
                    width: 50px;
                    height: 50px;
                    top: 25px;
                    left: 15px;
                    position: relative;
                }
            }
        }
        .s2{
            display: block;
            height: 1300px;
            padding: 15px;
            h1{
                margin: 15px 0;
            }
            .athird{
                display: block;
                .ath{
                    margin: 50px 0 180px 0;
                }
            }
        }
        .s3{
            .afourth{
                display: block;
                padding: 15px;
                .numb{
                    margin: 30px 0;
                }
            }
        }
        .s4{
            padding: 20px;
            .atwo{
                display: block;
                .text3{
                    width: 375px;
                    p{
                        font-size: 13px;
                        width: 350px;
                    }
                }
                .img2{
                    width: 340px;
                    height: 200px;
                    margin-top: 30px;
                }
            }
        }
        .s5{
            padding: 15px;
            display: block;
            .op{
                select{
                    width: 200px;
                }
            }
            .text4{
                width: 350px;
                p{
                    font-size: 13px;
                }
            }
            .personal{
                .submit{
                    font-size: 13px;
                    padding: 10px;
                }
                .phon{
                    width: 167px;
                }
                width: 350px;
                .names{
                    .fname{
                        size: 350px;
                        margin: 10px 0;
                    }
                }
            }
        }
        .s6{
            padding: 15px;
            display: block;
            ul{
                margin: 60px;
            }
        }
        .s7{
            font-size: 10px;
        }
    }
}